@import "reset.css";
body {
    font-family:"microsoft yahei",arial,'Hiragino Sans GB',sans-serif;
	line-height: 1.5;
    font-size:12px;
    color:#000;
	-webkit-text-size-adjust:none;
}
a{
	color:#000
}
