<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{%$lngpack.sitename%}</title>
<meta name="keywords" content="{%$lngpack.keyword%}" />
<meta name="description" content="{%$lngpack.description%}" />
{%link file="cn/public/head.html"%}
</head>

<body>
	{%link file="cn/public/header.html"%}
	<div class="main">
		<div class="main-1 clearfix">
			<div class="main-1-r">
				<h2>
					<span class="more"><a href="#">更多>></a></span>
					<span class="colname"><img src="{%$rootpath%}/images/imgnews.jpg" alt="" /></span>
				</h2>
				<div class="cnvp-tab-nav T">
	                <a href="#" class="index_tabshover" >集团新闻</a>
	                <a href="#">组织建设</a>
	                <a href="#">重庆项目</a>
	                <a href="#">政策信息</a>
	            </div>
	            <div class="cnvp-tab-panle C">
	            	<ul>
	            		<li><a href="#">温州成功集团2013年终感恩答谢酒会圆满落幕</a></li>
	            		<li><a href="#">温州成功集团2013年终感恩答谢酒会圆满落幕</a></li>
	            		<li><a href="#">温州成功集团2013年终感恩答谢酒会圆满落幕</a></li>
	            		<li><a href="#">温州成功集团2013年终感恩答谢酒会圆满落幕</a></li>
	            		<li><a href="#">温州成功集团2013年终感恩答谢酒会圆满落幕</a></li>
	            	</ul>
	            </div>
	            <div class="cnvp-tab-panle cnvp-tabs-hide C">
	            	22
	            </div>
	            <div class="cnvp-tab-panle cnvp-tabs-hide C">
	            	22
	            </div>
	            <div class="cnvp-tab-panle cnvp-tabs-hide C">
	            	22
	            </div>
			</div>
			<div class="main-1-l">
				<div class="loading"></div>
				<div id="demo">
					<ul class="pic">
						<li><a href='#' target='_blank'><img src='{%$rootpath%}/images/imgp1.jpg' alt='温州市轨道交通资产经营管理有限公司开展“保春运·送温暖”系列活动' text='温州市轨道交通资产经营管理有限公司开展“保春运·送温暖”系列活动'></a></li>
						<li><a href='#' target='_blank'><img src='{%$rootpath%}/images/imgp1.jpg' alt='温州市轨道交通资产经营管理有限公司开展“保春运·送温暖”系列活动' text='温州市轨道交通资产经营管理有限公司开展“保春运·送温暖”系列活动'></a></li>
						<li><a href='#' target='_blank'><img src='{%$rootpath%}/images/imgp1.jpg' alt='温州市轨道交通资产经营管理有限公司开展“保春运·送温暖”系列活动' text='温州市轨道交通资产经营管理有限公司开展“保春运·送温暖”系列活动'></a></li>
					</ul>

				</div>
			</div>
		</div>
		<div class="main-2 clearfix">
			<div class="main-2-1">
				<h2>
					<span class="more"><a href="#">更多>></a></span>
					<span class="colname1">最新产品</span>
				</h2>
				<div class="product">
					<ul class="roundabout" id="myroundabout">
						<li><img src="{%$rootpath%}/images/slide1.jpg" />SG06-5J010</li>
						<li><img src="{%$rootpath%}/images/slide2.jpg" />SG06-5J010</li>
						<li><img src="{%$rootpath%}/images/slide3.jpg" />SG06-5J010</li>
					</ul>
					<div class="round-next"></div>
					<div class="round-prev"></div>
				</div>
			</div>
			<div class="main-2-2">
				<h2>
					<span class="more"><a href="#">更多>></a></span>
					<span class="colname1">公司简介</span>
				</h2>
				<div class="company">
					<h3>温州成功集团有限公司</h3>
					<p>始创于1977年，1997年经市政府批准组建集团公司，是温州市属工贸一体化的综合型大企业集团，长期根植于工业企业服务、商贸流通、进出口和投资领域。</p>
				</div>
			</div>
			<div class="main-2-3">
				<h2>
					<span class="colname1">集团下属网站</span>
				</h2>
				<ul>
					<li><a href="#">Success Headwear</a></li>
					<li><a href="#">Success Headwear</a></li>
					<li><a href="#">Success Headwear</a></li>
					<li><a href="#">Success Headwear</a></li>
					<li><a href="#">Success Headwear</a></li>
					<li><a href="#">Success Headwear</a></li>
					<li><a href="#">Success Headwear</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
	    <div class="in-footer">
	        <div class="in-footer-r"><img src="{%$rootpath%}/images/imggs.jpg" alt="" /></div>
	        <div class="in-footer-l">
	            <a href="#">联系我们</a> | <a href="#">网站地图</a> | <a href="#">友情链接</a> | 技术支持：<a href="http://www.cnvp.com.cn">捷点科技</a><br>
	Copyright &copy; 2014 温州成功集团有限公司 All Rights Reserved. Email：success888@wz.zj.cn 备案号：浙ICP备09014625号
	        </div>
	    </div>
	</div>
</body>

<script>
// require("roundabout");
// 	$(function() {
// 		$('#myroundabout').roundabout({
//             autoplay: true,//自动播放
//             autoplayDuration: 3000,//时间
//             autoplayPauseOnHover: true,//自动鼠标移上停滞
//             shape: 'tearDrop',
//             minOpacity: 1
//         });
// 	})
</script>
</html>